<header>
  <a href="#"><h1 class="site-title"><i class="fas fa-comments"></i> sayit</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
      </li>
    </ul>
  </nav>
</header>